
{% extends "base.html" %}
{% load static %}

{% block content %}



    
        <div class="container">
            <div class="mt-2" >
                
                <table class="table table-bordered ">
                    <tr>
                        <th style="text-align: center; vertical-align: middle;" colspan='5' ><a class="btn btn-sm btn-success p-3 " href={% url 'create_sale' %}>Create Sale</a></th>
                    </tr>
                    <tr>
                        
                        <th>Product Name</th>
                        <th>Customer Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                        
                       
                    </tr>
                    {% for p in product %}
                    <tr>
                        
                        <td>{{p.product.name}}</td>
                        <td>{{p.customer.name}}</td>
                        <td>{{p.sale_price}}</td>
                        <td>{{p.quantity}}</td>
                        <td>
                            <a href={% url 'edit_sales' p.id %}><button class="btn btn-warning btn-sm">edit</button></a>
                            <a href={% url 'delete_sales' p.id %}><button class="btn btn-danger btn-sm">delete</button></a>
                        </td>
                       
                    </tr>
                    
                    {% endfor %}
                </table>
                
            </div>
           
        </div>
    
  
{% endblock %}                            