
{% extends "base.html" %}
{% load static %}

{% block content %}



    
        <div class="container">
            <div class="mt-2" >
                
                <table class="table table-bordered ">
                    <tr>
                        <th style="text-align: center; vertical-align: middle;" colspan='5' ><a class="btn btn-sm btn-success p-3 " href={% url 'add_product' %}>Add Product</a></th>
                    </tr>
                    <tr>
                        
                        <th>Name</th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                        
                       
                    </tr>
                    {% for p in products %}
                    <tr>
                        
                        <td>{{p.name}}</td>
                        <td>{{p.sku}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.quantity}}</td>
                        <td>
                            <a href={% url 'edit_product' p.id %}><button class="btn btn-warning btn-sm">edit</button></a>
                            <a href={% url 'delete_product' p.id %}><button class="btn btn-danger btn-sm">delete</button></a>
                        </td>
                       
                    </tr>
                    
                    {% endfor %}
                </table>
                
            </div>
           
        </div>
    
  
{% endblock %}